extends layout

block content
	h1.
		User List
	ul
		each user, i in userlist
			li
				a(href="mailto:#{user.email}")= user.username 
				|  et 
				// edituser/nicdo77 for example
				a(href="edituser/#{user.username}") MODIFIER
				